<div class="contact-info-container ">
    <div class="contact-details">
      <h2>Contact Information</h2>
      <p><strong>Name:</strong> {{ contactDetails?.name }}</p>
      <p><strong>Email:</strong> {{ contactDetails?.email }}</p>
      <p><strong>Phone:</strong> {{ contactDetails?.phone }}</p>
      <p><strong>Address:</strong> {{ contactDetails?.address }}</p>
    </div>
    <div class="contact-picture">
      <!-- Add your picture here -->
      <img src="assets\images\download.jpg" alt="Contact Picture">
    </div>
  </div>
  