<section class="text-gray-400 body-font bg-gray-900">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-wrap w-full mb-20">
        <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
          <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-white">Battery</h1>
          <div class="h-1 w-20 bg-yellow-500 rounded"></div>
        </div>
        <p class="lg:w-1/2 w-full leading-relaxed text-gray-400 text-opacity-90">Reliable extended battery backup and management solution to ensure system uptime</p>
      </div>
      <div class="flex flex-wrap -m-4">
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <div class="bg-gray-800 bg-opacity-40 p-6 rounded-lg">
            <img class="h-40 rounded w-full object-cover object-center mb-6" src="assets\images\t1.jpg" alt="content">
            <h3 class="tracking-widest text-yellow-400 text-xs font-medium title-font">SUBTITLE</h3>
            <h2 class="text-lg text-white font-medium title-font mb-4">Lithium-ion Battery</h2>
            <p class="leading-relaxed text-base">Widely used in portable electronics and electric vehicles due to their high energy density and long cycle life.</p>
          </div>
        </div>
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <div class="bg-gray-800 bg-opacity-40 p-6 rounded-lg">
            <img class="h-40 rounded w-full object-cover object-center mb-6" src="assets\images\t2.jpg" alt="content">
            <h3 class="tracking-widest text-yellow-400 text-xs font-medium title-font">SUBTITLE</h3>
            <h2 class="text-lg text-white font-medium title-font mb-4">Lead-Acid Battery</h2>
            <p class="leading-relaxed text-base">Commonly found in automotive applications and backup power systems for its reliability and low cost..</p>
          </div>
        </div>
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <div class="bg-gray-800 bg-opacity-40 p-6 rounded-lg">
            <img class="h-40 rounded w-full object-cover object-center mb-6" src="assets\images\t3.jpg" alt="content">
            <h3 class="tracking-widest text-yellow-400 text-xs font-medium title-font">SUBTITLE</h3>
            <h2 class="text-lg text-white font-medium title-font mb-4">Alkaline Battery</h2>
            <p class="leading-relaxed text-base">Used in a wide range of consumer devices like remote controls, flashlights, and toys for their affordability and availability..</p>
          </div>
        </div>
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <div class="bg-gray-800 bg-opacity-40 p-6 rounded-lg">
            <img class="h-40 rounded w-full object-cover object-center mb-6" src="assets\images\t4.jpg" alt="content">
            <h3 class="tracking-widest text-yellow-400 text-xs font-medium title-font">SUBTITLE</h3>
            <h2 class="text-lg text-white font-medium title-font mb-4">Flow Battery:</h2>
            <p class="leading-relaxed text-base">Suitable for large-scale energy storage applications such as grid stabilization and renewable energy integration due to their scalability and long lifespan..</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  